{% extends 'ReciteUserBundle::layout.html.twig' %}

{% block content %}

{{ name }}

    {% if roles %}
        {% for role in roles %}
            <span>{{ role }}</span>
        {% endfor %}
    {% endif %}
{% endblock %}
